@import "normalize.css/normalize";
@import "variables";
@import "mixins";
@import "base/**/*.css";
@import "components/**/*.css";

body {
  background: $appBackgroundColor;
}

main {
  @mixin min-width $bp-desktop {
    margin: 0 auto;
    width: $bp-desktop;
  }
}
