@import "normalize.css/normalize";
@import "variables";
@import "mixins";
@import "base/**/*.css";
@import "components/**/*.css";

.browserupgrade {
  background: #f00;
  color: #fff;
  padding: 1rem 1.5rem;

  a, a:hover {
    color: #fff;
  }
}

body {
  background: $appBackgroundColor;
}

a {
  color: $linkColor;
}

a:hover {
  color: $linkHoverColor;
}

main {
  padding: 0 1rem 1rem 1rem;

  @mixin min-width $bp-desktop {
    margin: 0 auto;
    width: $bp-desktop;
  }

  section {
    margin: 1rem 0;
  }
}

.section-header {
  border-bottom: 1px solid $strokeColor;
  color: $sectionHeaderColor;
  margin: 0;
  padding-left: 2.5rem;
  position: relative;

  &::before {
    color: $strokeColor;
    font-family: FontAwesome;
    left: 0;
    margin-right: 0.5rem;
    position: absolute;
    top: 0.17rem;
  }
}
