@define-mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@define-mixin unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@define-mixin floated-list $dir: left {
  @mixin unstyled-list;
  @mixin clearfix;
  margin: 0 0.5rem;

  & > li {
    float: $dir;
    margin: 0.5rem;
  }
}

@define-mixin centered-list {
  @mixin floated-list;
  display: inline-block;
  text-align: center;
}

@define-mixin centered {
  text-align: center;
}

@define-mixin text-shadow $val: 0px 1px 1px rgba(0, 0, 0, 0.5) {
  text-shadow: $val;
}

@define-mixin min-width $bp: 360px {
  @media all and (min-width: $bp) {
    @mixin-content;
  }
}

@define-mixin max-height $bp: 10rem {
  @media screen and (max-height: $bp) {
    @mixin-content;
  }
}

@define-mixin toggle-trigger {
  cursor: pointer;
  font-size: 0.7rem;
  padding: 0.25rem;
  text-align: center;
  text-decoration: underline;

  &:hover {
    color: $linkHoverColor;
  }
}
