<section id="interests" class="main-section interests">
  <header>
    <h1 class="section-header">Personal Interests</h1>
  </header>
  <p>In case you're interested...while my favorite things in life are growing old with my wife, and watching and helping my sons grow up, these are a few other things I enjoy when I have the time.</p>
  <ul class="interests--categories">
  {{#each data}}
    <li class="interest-category">
      <h4>{{name}}</h4>
      <ul class="interest-category--keywords keyword-list">
      {{#each keywords}}
        <li class="keyword interest-category--keyword keyword-{{stripChars this}}">
          {{this}}
        </li>
      {{/each}}
      </ul>
    </li>
  {{/each}}
  </ul>
</section>
