<section id="skills" class="main-section skills">
  <header>
    <h1 class="section-header">Skills and Proficiencies</h1>
  </header>
  <ul class="skill-categories">
  {{#each data}}
    <li class="skill-category">
    <h4>{{name}} ({{level}})</h4>
      <ul class="skill-category--keywords keyword-list">
      {{#each keywords}}
        <li class="keyword skill-category--keyword keyword-{{stripChars this}}">
          {{this}}
        </li>
      {{/each}}
      </ul>
    </li>
  {{/each}}
  </ul>
</section>
