.skills {
  .section-header {
    &::before {
      content: "\f121";
    }
  }
}

.skill-categories {
  @mixin unstyled-list;
  margin: 1rem 0;
}

.skill-category--keywords {
  @mixin floated-list;
  margin: 0.5rem 0;

  li {
    margin: 0.25rem 0.5rem 0.25rem 0;
  }
}
