.contact-details-toggle {
  cursor: pointer;
  font-size: 0.7rem;
  padding: 0.25rem;
  text-align: center;
}

.contact-details {
  .section-header {
    &::before {
      content: "\f05a";
    }
  }
}
