.contact-details-toggle {
  @mixin toggle-trigger;
}

.contact-details {
  .section-header {
    &::before {
      content: "\f05a";
    }
  }
}

.contact-details--content {
  margin: 0 0 1rem 0;
  padding: 1rem .4rem;
}

.contact-detail {
  margin: 0 0 .25rem 0;

  &::before {
    color: $strokeColor;
    font-family: FontAwesome;
    margin-right: .5rem;
  }
}

.contact-details--email {
  &::before {
    content: "\f0e0";
  }
}

.contact-details--website {
  &::before {
    content: "\f0c1";
  }
}

.contact-details--phone {
  &::before {
    content: "\f095";
  }
}

.contact-details--location {
  &::before {
    content: "\f279";
  }
}
