$headerMinHeight: 32rem;
$headerGradientStart: rgba(115, 64, 196,.95);
$headerGradientStop: rgba(49, 142, 223,.95);

header.main {
  @mixin centered;
  @mixin text-shadow;
  background: transparent url("../../images/family-downtown-knoxville.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 1rem;
  position: relative;
  transform-style: preserve3d;
  z-index: 1;

  &::before {
    background: linear-gradient(145deg, $headerGradientStart, $headerGradientStop);
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  @mixin min-width $bp-desktop {
    height: 100vh;
    min-height: $headerMinHeight;

    p {
      margin-left: auto;
      margin-right: auto;
      width: $bp-desktop;
    }
  }
}

.main-header--content {
  position: relative;
  z-index: 3;

  @mixin min-width $bp-desktop {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
  }

  @mixin max-height $headerMinHeight {
    top: 0;
    transform: none;
  }
}

.basics--name {
  font-size: 3rem;
  margin: 1rem;
}

.basics--label {
  margin: 1rem;
}

.basics--summary {
  margin: 1rem 0.5rem;
  text-align: left;
}

.highlighted-technology-buttons {
  @mixin centered-list;

  span {
    display: none;
  }

  .button {
    background-color: rgba(50, 50, 50, 0.75);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 2.25rem !important;
    border-radius: 3px;
    height: 3.5rem;
    padding: 0.5rem;
    width: 3.5rem;
  }

  .button-js {
    background-image: url("../../images/js.png");
  }

  .button-html5 {
    background-image: url("../../images/html5.png");
  }

  .button-css3 {
    background-image: url("../../images/css3.png");
  }

  .button-html5,
  .button-css3 {
    background-position-y: 57% !important;
  }

  .button-nodejs {
    background-image: url("../../images/node-js.png");
  }
}

.basics--contact-details {
  display: none;
}

.scroll-down-indicator {
  animation: bounce 4s 2s infinite;
  border: 1px solid transparent;
  border-radius: 50%;
  bottom: 0.5rem;
  color: $strokeColor;
  display: none;
  font-family: FontAwesome;
  font-size: 2rem;
  height: 3rem;
  left: 50%;
  margin-left: -1.5rem;
  position: absolute;
  text-align: center;
  width: 3rem;
  z-index: 4;
  transition: all 0.5s ease;

  span {
    display: none;
  }

  &:hover {
    border: 1px solid $strokeColor;
    color: #fff;
  }

  &::before {
    content: "\f107";
    display: inline-block;
    height: 3rem;
    padding: 0.5rem;
    width: 3rem;
  }

  @mixin min-width $bp-desktop {
    display: inline-block;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-3px);
  }
}
