$headerMinHeight: 27rem;
$headerGradientStart: rgba(115, 64, 196,.95);
$headerGradientStop: rgba(49, 142, 223,.95);

header.main {
  @mixin centered;
  @mixin text-shadow;
  background: linear-gradient(145deg, $headerGradientStart, $headerGradientStop);
  color: #fff;
  margin: 0;
  padding: 1rem;
  position: relative;

  @mixin min-width $bp-desktop {
    height: 100vh;
    min-height: $headerMinHeight;

    p {
      margin-left: auto;
      margin-right: auto;
      width: $bp-desktop;
    }
  }
}

.main-header--content {
  @mixin min-width $bp-desktop {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
  }

  @mixin max-height $headerMinHeight {
    top: 0;
    transform: none;
  }
}

.highlighted-technology-buttons {
  @mixin centered-list;
}

.basics--contact-details {
  display: none;
}
