.keyword-list {
  @mixin floated-list;
  margin: 0.5rem;

  li {
    margin: 0.25rem 0.5rem 0.25rem 0;
  }
}

.keyword {
  background: $keywordBackgroundColor;
  border: 1px solid $strokeColor;
  border-radius: 1rem;
  font-size: 0.75rem;
  margin: 0 0.5rem 0 0;
  padding: 0.25rem 0.75rem;
}
