.work-history {
  .section-header {
    &::before {
      content: "\f1da";
    }
  }
}

.work-history--featured-list,
.work-history--older-list {
  @mixin unstyled-list;
  margin: 1rem 0;
}

.work-history--entry {}

.work-history--summary {}

.work-history--body {
  border-bottom: 1px solid $strokeColor;
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0;
}

.work-history--entry-company,
.work-history--entry-position {
  margin: 0.5rem 0;
}

.work-history--entry-dates {
  margin: 0.25rem 0;
}

.work-history--entry-keywords {
  @mixin floated-list;
  margin: 0;

  li {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
}

.work-history--entry-company-label,
.work-history--entry-position-label,
.work-history--entry-date-from-label,
.work-history--entry-date-to-label {
  color: $strokeColor;
}

.work-history--entry-company {
  margin-right: 2rem;
}

.older-work-history--entry--toggle {
  @mixin toggle-trigger;
  margin: 0.5rem 0;
  padding: 0;
  text-align: left;
}
