$baseFont: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Ubuntu, Tahoma, Arial, "Lucida Grande", sans-serif;
$monospacedFont: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$baseFontColor: #3a4145;
$baseFontWeight: 300;

$appBackgroundColor: #fff; /* #f7fafb; */
$linkColor: #09c;
$linkHoverColor: #0cf;
$documentBackgroundColor: #151718;
$strokeColor: #e3edf3;
$keywordBackgroundColor: #f7fafb;
$sectionHeaderColor: #369;

$bp-tablet--wide: 768px;
$bp-desktop: 880px;
