<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Resume: Bob Yexley</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style -->
    <!-- <link rel="stylesheet" href="css/main.css"> -->
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="basics">
      <h1 class="basics--name">Bob Yexley</h1>
      <p class="basics--summary">Family-first husband and father of two boys, I believe a good work-life balance is essential to maintaining the focus and productivity needed to achieve great results. I believe in using the right tool for the job to get that done in the most effective and efficient manner possible. In my 15+ years of experience, that has involved the use of various tools and platforms, but most recently my focus and specialization has been on native front-end web application development using HTML5, CSS3 and JavaScript. I&#x27;m passionate about delivering high-quality, user-friendly solutions that deliver business value to my customers and clients on the most ubiquitous and accessible platform available to them: the web.</p>
      <div class="basics--contact-details">
        <div class="basics--email">bob@yexley.net</div>
        <div class="basics--website">http://bob.yexley.net</div>
        <div class="basics--phone">(865) 399-3696</div>
        <div class="basics--address">
          <div class="basics--address-line1">2706 Berringer Station Ln.</div>
          <div class="basics--address-line2">Knoxville, TN 37932</div>
        </div>
      </div>
    </header>
    <main>
      <section class="skills">
        <header>
          <h1>Skills</h1>
        </header>
        <ul class="skill-categories">
          <li class="skill-category">
          Web Development (Advanced)
            <ul class="skill-category--keywords">
              <li class="skill-category--keyword skill-HTML5">
                HTML5
              </li>
              <li class="skill-category--keyword skill-CSS3">
                CSS3
              </li>
              <li class="skill-category--keyword skill-JavaScript">
                JavaScript
              </li>
              <li class="skill-category--keyword skill-ES6">
                ES6
              </li>
              <li class="skill-category--keyword skill-ES2015">
                ES2015
              </li>
              <li class="skill-category--keyword skill-React">
                React
              </li>
              <li class="skill-category--keyword skill-Flux">
                Flux
              </li>
              <li class="skill-category--keyword skill-Backbone.js">
                Backbone.js
              </li>
              <li class="skill-category--keyword skill-Knockout.js">
                Knockout.js
              </li>
              <li class="skill-category--keyword skill-Webpack">
                Webpack
              </li>
              <li class="skill-category--keyword skill-Grunt">
                Grunt
              </li>
              <li class="skill-category--keyword skill-Gulp">
                Gulp
              </li>
            </ul>
          </li>
          <li class="skill-category">
          Architecture (Intermediate)
            <ul class="skill-category--keywords">
              <li class="skill-category--keyword skill-REST">
                REST
              </li>
              <li class="skill-category--keyword skill-Hypermedia">
                Hypermedia
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="work-history">
        <header>
          <h1>Work History</h1>
        </header>
        <ul class="work-history--entries">
          <li class="work-history--entry">
            <div class="work-history--entry-company">
              <a href="http://piedpiper.com">Pied Piper</a>
            </div>
            <div class="work-history--entry-dates">From 2013-12-01 to 2014-12-01</div>
            <div class="work-history--entry-position">CEO/President</div>
            <ul class="work-history--entry-keywords">
              <li class="work-history--entry-keyword keyword-JavaScript">JavaScript</li>
              <li class="work-history--entry-keyword keyword-HTML5">HTML5</li>
              <li class="work-history--entry-keyword keyword-CSS3">CSS3</li>
              <li class="work-history--entry-keyword keyword-PostCSS">PostCSS</li>
              <li class="work-history--entry-keyword keyword-Handlebars">Handlebars</li>
              <li class="work-history--entry-keyword keyword-Gulp">Gulp</li>
            </ul>
            <p class="work-history--entry-summary">Pied Piper is a multi-platform technology based on a proprietary universal compression algorithm that has consistently fielded high Weisman Scores™ that are not merely competitive, but approach the theoretical limit of lossless compression.</p>
            <ul class="work-history--entry-highlights">
              <li class="work-history--entry-highlight">Build an algorithm for artist to detect if their music was violating copy right infringement laws</li>
              <li class="work-history--entry-highlight">Successfully won Techcrunch Disrupt</li>
              <li class="work-history--entry-highlight">Optimized an algorithm that holds the current world record for Weisman Scores</li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="publications">
      </section>
      <section class="interests">
      </section>
    </main>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </body>
</html>
