<!doctype html>
<!--[if lt IE 10]><html dir="ltr" lang="en-US" class="old-ie"><![endif]-->
<!--[if !IE]><!--><html dir="ltr" lang="en-US"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Resume: Bob Yexley</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="style/main.css">
  </head>
  <body>
    <!--[if lt IE 10]>
      <div class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->
    <header class="main basics">
      <div class="main-header--content">
        <h1 class="basics--name">Bob Yexley</h1>
        <h3 class="basics--label">Front End Web and Distributed Software Developer</h3>
        <ul class="highlighted-technology-buttons">
          <li class="button button-js"><span>JS</span></li>
          <li class="button button-html5"><span>HTML5</span></li>
          <li class="button button-css3"><span>CSS3</span></li>
          <li class="button button-nodejs"><span>node</span></li>
        </ul>
        <p class="basics--summary">Family-first husband and father of two boys, I believe a good work-life balance is essential to maintaining the focus and productivity needed to achieve great results. I believe in using the right tool for the job to get that done in the most effective and efficient manner possible. In my 15+ years of experience, that has involved the use of various tools and platforms, but most recently my focus and specialization has been on native front-end web application development using HTML5, CSS3 and JavaScript. I&#x27;m passionate about delivering high-quality, user-friendly solutions that deliver business value to my customers and clients on the most ubiquitous and accessible platform available to them: the web.</p>
        <ul class="basics--profiles">
          <li class="basics--profile profile-Twitter">
            <a href="https://twitter.com/ryexley" title="ryexley on Twitter"><span>ryexley on Twitter</span></a>
          </li>
          <li class="basics--profile profile-GitHub">
            <a href="https://github.com/ryexley" title="ryexley on GitHub"><span>ryexley on GitHub</span></a>
          </li>
        </ul>
      </div>
      <a class="scroll-down-indicator" href="#main-content" title="Scroll down to main content"><span>Scroll down</span></a>
    </header>
    <main id="main-content">
      <div class="contact-details-toggle" data-toggle="#contact-details">Contact info <i class="fa fa-angle-down"></i></div>
      <section id="contact-details" class="contact-details hide">
        <header>
          <h1 class="section-header">Contact Information</h1>
          <div class="contact-details--email">bob@yexley.net</div>
          <div class="contact-details--website">http://bob.yexley.net</div>
          <div class="contact-details--phone">(865) 399-3696</div>
          <div class="contact-details--address">
            <div class="contact-details--address--line1">2706 Berringer Station Ln.</div>
            <div class="contact-details--address--line2">Knoxville, TN 37932</div>
          </div>
        </header>
      </section>
      <section id="skills" class="skills">
        <header>
          <h1 class="section-header">Skills and Proficiencies</h1>
        </header>
        <ul class="skill-categories">
          <li class="skill-category">
          Web Development (Advanced)
            <ul class="skill-category--keywords keyword-list">
              <li class="keyword skill-category--keyword keyword-HTML5">
                HTML5
              </li>
              <li class="keyword skill-category--keyword keyword-CSS3">
                CSS3
              </li>
              <li class="keyword skill-category--keyword keyword-JavaScript">
                JavaScript
              </li>
              <li class="keyword skill-category--keyword keyword-ES6">
                ES6
              </li>
              <li class="keyword skill-category--keyword keyword-ES2015">
                ES2015
              </li>
              <li class="keyword skill-category--keyword keyword-React">
                React
              </li>
              <li class="keyword skill-category--keyword keyword-Flux">
                Flux
              </li>
              <li class="keyword skill-category--keyword keyword-Backbone.js">
                Backbone.js
              </li>
              <li class="keyword skill-category--keyword keyword-Knockout.js">
                Knockout.js
              </li>
              <li class="keyword skill-category--keyword keyword-Webpack">
                Webpack
              </li>
              <li class="keyword skill-category--keyword keyword-Grunt">
                Grunt
              </li>
              <li class="keyword skill-category--keyword keyword-Gulp">
                Gulp
              </li>
            </ul>
          </li>
          <li class="skill-category">
          Architecture and Backend (Intermediate)
            <ul class="skill-category--keywords keyword-list">
              <li class="keyword skill-category--keyword keyword-REST">
                REST
              </li>
              <li class="keyword skill-category--keyword keyword-Hypermedia">
                Hypermedia
              </li>
              <li class="keyword skill-category--keyword keyword-node.js">
                node.js
              </li>
              <li class="keyword skill-category--keyword keyword-SQL">
                SQL
              </li>
              <li class="keyword skill-category--keyword keyword-NoSQL">
                NoSQL
              </li>
            </ul>
          </li>
          <li class="skill-category">
          Tools (Advanced)
            <ul class="skill-category--keywords keyword-list">
              <li class="keyword skill-category--keyword keyword-Sublime Text">
                Sublime Text
              </li>
              <li class="keyword skill-category--keyword keyword-Git/GitHub">
                Git/GitHub
              </li>
              <li class="keyword skill-category--keyword keyword-Terminal">
                Terminal
              </li>
              <li class="keyword skill-category--keyword keyword-Chrome/DevTools">
                Chrome/DevTools
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <section id="work-history" class="work-history">
        <header>
          <h1 class="section-header">Work History</h1>
        </header>
        <div class="work-history--featured">
          <ul class="work-history--featured-list">
              <li class="work-history--entry">
              <div class="work-history--summary">
                <header>
                  <h3 class="work-history--entry-company">
                      <a href="http://daveramsey.com">Lampo Group</a>
                  </h3>
                  <h4 class="work-history--entry-position">Senior JavaScript Engineer (contractor)</h4>
                </header>
                <h5 class="work-history--entry-dates">
                  <span class="work-history--entry-date-from-label">From</span>
                  <span class="work-history--entry-date-from">November 2014</span>
                  <span class="work-history--entry-date-to-label">to</span>
                  <span class="work-history--entry-date-to">Present</span>
                </h5>
                <ul class="keyword-list work-history--entry-keywords">
                  <li class="keyword work-history--entry-keyword keyword-JavaScript">JavaScript</li>
                  <li class="keyword work-history--entry-keyword keyword-HTML5">HTML5</li>
                  <li class="keyword work-history--entry-keyword keyword-CSS3">CSS3</li>
                  <li class="keyword work-history--entry-keyword keyword-SASS">SASS</li>
                  <li class="keyword work-history--entry-keyword keyword-React">React</li>
                  <li class="keyword work-history--entry-keyword keyword-Webpack">Webpack</li>
                  <li class="keyword work-history--entry-keyword keyword-Ruby on Rails">Ruby on Rails</li>
                  <li class="keyword work-history--entry-keyword keyword-Git">Git</li>
                  <li class="keyword work-history--entry-keyword keyword-GitHub">GitHub</li>
                </ul>
              </div>
              <div class="work-history--body">
                <p class="work-history--entry-summary">Currently contracting for Ramsey Solutions as a front-end web developer helping build the SmartDollar site and application. We&#x27;re applying responsive design methodologies to make applications available in web browsers on any device.</p>
                <ul class="work-history--entry-highlights">
                  <li class="work-history--entry-highlight">Designed and implemented a solution for modular JavaScript for the SmartDollar application using vanilla JavaScript and namespacing</li>
                  <li class="work-history--entry-highlight">Designed and implemented a reporting application with React and my own implement of Flux using postal.js and the Chartist library for custom charts and graphs</li>
                </ul>
              </div>
              </li>
              <li class="work-history--entry">
              <div class="work-history--summary">
                <header>
                  <h3 class="work-history--entry-company">
                      appendTo
                  </h3>
                  <h4 class="work-history--entry-position">Senior JavaScript Engineer and Team Lead</h4>
                </header>
                <h5 class="work-history--entry-dates">
                  <span class="work-history--entry-date-from-label">From</span>
                  <span class="work-history--entry-date-from">December 2012</span>
                  <span class="work-history--entry-date-to-label">to</span>
                  <span class="work-history--entry-date-to">October 2014</span>
                </h5>
                <ul class="keyword-list work-history--entry-keywords">
                  <li class="keyword work-history--entry-keyword keyword-JavaScript">JavaScript</li>
                  <li class="keyword work-history--entry-keyword keyword-HTML5">HTML5</li>
                  <li class="keyword work-history--entry-keyword keyword-CSS3">CSS3</li>
                  <li class="keyword work-history--entry-keyword keyword-SASS">SASS</li>
                  <li class="keyword work-history--entry-keyword keyword-Compass">Compass</li>
                  <li class="keyword work-history--entry-keyword keyword-Knockout.js">Knockout.js</li>
                  <li class="keyword work-history--entry-keyword keyword-Backbone.js">Backbone.js</li>
                  <li class="keyword work-history--entry-keyword keyword-Cordova">Cordova</li>
                  <li class="keyword work-history--entry-keyword keyword-Git">Git</li>
                  <li class="keyword work-history--entry-keyword keyword-GitHub">GitHub</li>
                </ul>
              </div>
              <div class="work-history--body">
                <p class="work-history--entry-summary">Senior JavaScript Engineer and Team Lead in the Solutions Delivery group at appendTo.</p>
                <ul class="work-history--entry-highlights">
                  <li class="work-history--entry-highlight">Built a large, complex single-page-application for an international client. The application made heavy use of KnockoutJS with numerous custom bindings and extensions, and custom developed modules to handle client-side routing, logging and other architectural concerns, as well as Twitter Bootstrap for UI layout (grid) and components.</li>
                  <li class="work-history--entry-highlight">JavaScript module development and migration as part of a responsive re-design of a client&#x27;s public web site and commerce application.</li>
                  <li class="work-history--entry-highlight">UX development (JavaScript (jQuery, Knockout.JS), HTML5 and CSS3) for a customer building a large-scale custom commerce application.</li>
                  <li class="work-history--entry-highlight">Built several native iPad applications using HTML5, CSS3 and JavaScript (jQuery, Backbone.js) with Cordova/PhoneGap.</li>
                </ul>
              </div>
              </li>
              <li class="work-history--entry">
              <div class="work-history--summary">
                <header>
                  <h3 class="work-history--entry-company">
                      <a href="http://foodtodonate.com">Food Donation Connection</a>
                  </h3>
                  <h4 class="work-history--entry-position">Senior Software Developer</h4>
                </header>
                <h5 class="work-history--entry-dates">
                  <span class="work-history--entry-date-from-label">From</span>
                  <span class="work-history--entry-date-from">September 2011</span>
                  <span class="work-history--entry-date-to-label">to</span>
                  <span class="work-history--entry-date-to">December 2012</span>
                </h5>
                <ul class="keyword-list work-history--entry-keywords">
                  <li class="keyword work-history--entry-keyword keyword-JavaScript">JavaScript</li>
                  <li class="keyword work-history--entry-keyword keyword-jQuery">jQuery</li>
                  <li class="keyword work-history--entry-keyword keyword-HTML5">HTML5</li>
                  <li class="keyword work-history--entry-keyword keyword-CSS">CSS</li>
                  <li class="keyword work-history--entry-keyword keyword-LessCSS">LessCSS</li>
                  <li class="keyword work-history--entry-keyword keyword-ASP.NET MVC">ASP.NET MVC</li>
                  <li class="keyword work-history--entry-keyword keyword-NancyFx">NancyFx</li>
                  <li class="keyword work-history--entry-keyword keyword-C#">C#</li>
                  <li class="keyword work-history--entry-keyword keyword-Hypermedia">Hypermedia</li>
                </ul>
              </div>
              <div class="work-history--body">
                <p class="work-history--entry-summary">Built data-driven web applications and backend services. Single-page JavaScript applications using Backbone.js and jQuery, with HTML5 and LESS/CSS, calling a HTTP/Hypermedia API written with the Nancy framework in C# on the server side.</p>
              </div>
              </li>
          </ul>
        </div>
        <div class="older-work-history-toggle">More work history <i class="fa fa-angle-down"></i></div>
        <div class="work-history--older">
          <ul class="work-history--older-list">
              <li class="work-history--entry">
                <div class="older-work-history--entry--toggle" data-toggle=".older-work-history--entry">
                  Scripps Networks // Senior Software Developer // From July 2008 to August 2011 <i class="fa fa-angle-down"></i>
                </div>
                <div class="older-work-history--entry hide">
                  <div class="work-history--summary">
                    <header>
                      <h3 class="work-history--entry-company">
                          <a href="http://scrippsnetworks.com">Scripps Networks</a>
                      </h3>
                      <h4 class="work-history--entry-position">Senior Software Developer</h4>
                    </header>
                    <h5 class="work-history--entry-dates">
                      <span class="work-history--entry-date-from-label">From</span>
                      <span class="work-history--entry-date-from">July 2008</span>
                      <span class="work-history--entry-date-to-label">to</span>
                      <span class="work-history--entry-date-to">August 2011</span>
                    </h5>
                    <ul class="keyword-list work-history--entry-keywords">
                      <li class="keyword work-history--entry-keyword keyword-C#">C#</li>
                      <li class="keyword work-history--entry-keyword keyword-WinForms">WinForms</li>
                      <li class="keyword work-history--entry-keyword keyword-Silverlight">Silverlight</li>
                      <li class="keyword work-history--entry-keyword keyword-ASP.NET MVC">ASP.NET MVC</li>
                      <li class="keyword work-history--entry-keyword keyword-jQuery">jQuery</li>
                      <li class="keyword work-history--entry-keyword keyword-TSQL">TSQL</li>
                      <li class="keyword work-history--entry-keyword keyword-WCF">WCF</li>
                      <li class="keyword work-history--entry-keyword keyword-BizTalk">BizTalk</li>
                    </ul>
                  </div>
                  <div class="work-history--body">
                    <p class="work-history--entry-summary">Senior member of a team at Scripps Networks responsible for the development, maintenance, testing and delivery of internal customer-facing and integration software.</p>
                    <ul class="work-history--entry-highlights">
                      <li class="work-history--entry-highlight">Developed an ASP.NET MVC web application to allow users to perform batch editing of media asset metadata, calling SOAP web services on the backend.</li>
                      <li class="work-history--entry-highlight">Rebuilt an existing Access application using Silverlight, WCF and SQL Server with Telerik Reporting services for the maintenance and amortization of affiliate accounting data.</li>
                      <li class="work-history--entry-highlight">Maintenance and development of new modules for content accounting and billing applications using C#/WinForms and SQL Server Reporting Services.</li>
                      <li class="work-history--entry-highlight">Development of BizTalk and WCF services for financial application integrations.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="work-history--entry">
                <div class="older-work-history--entry--toggle" data-toggle=".older-work-history--entry">
                  Extreme Consulting // Software Developer // From April 2008 to July 2008 <i class="fa fa-angle-down"></i>
                </div>
                <div class="older-work-history--entry hide">
                  <div class="work-history--summary">
                    <header>
                      <h3 class="work-history--entry-company">
                          Extreme Consulting
                      </h3>
                      <h4 class="work-history--entry-position">Software Developer</h4>
                    </header>
                    <h5 class="work-history--entry-dates">
                      <span class="work-history--entry-date-from-label">From</span>
                      <span class="work-history--entry-date-from">April 2008</span>
                      <span class="work-history--entry-date-to-label">to</span>
                      <span class="work-history--entry-date-to">July 2008</span>
                    </h5>
                    <ul class="keyword-list work-history--entry-keywords">
                      <li class="keyword work-history--entry-keyword keyword-C#">C#</li>
                      <li class="keyword work-history--entry-keyword keyword-ASP.NET">ASP.NET</li>
                      <li class="keyword work-history--entry-keyword keyword-jQuery">jQuery</li>
                      <li class="keyword work-history--entry-keyword keyword-SQL Server">SQL Server</li>
                      <li class="keyword work-history--entry-keyword keyword-TSQL">TSQL</li>
                      <li class="keyword work-history--entry-keyword keyword-Subversion">Subversion</li>
                    </ul>
                  </div>
                  <div class="work-history--body">
                    <p class="work-history--entry-summary">Our client was hosting an international event with various educational tracks that consisted of breakout sessions in different rooms (each with different, limited capacity) at a conference center. They needed an application that would allow attendees to register for the event and breakout sessions. I designed and created it for them.</p>
                  </div>
                </div>
              </li>
              <li class="work-history--entry">
                <div class="older-work-history--entry--toggle" data-toggle=".older-work-history--entry">
                  Lexis Nexis Corporation // Software Developer // From June 2006 to March 2008 <i class="fa fa-angle-down"></i>
                </div>
                <div class="older-work-history--entry hide">
                  <div class="work-history--summary">
                    <header>
                      <h3 class="work-history--entry-company">
                          <a href="http://lexisnexis.com">Lexis Nexis Corporation</a>
                      </h3>
                      <h4 class="work-history--entry-position">Software Developer</h4>
                    </header>
                    <h5 class="work-history--entry-dates">
                      <span class="work-history--entry-date-from-label">From</span>
                      <span class="work-history--entry-date-from">June 2006</span>
                      <span class="work-history--entry-date-to-label">to</span>
                      <span class="work-history--entry-date-to">March 2008</span>
                    </h5>
                    <ul class="keyword-list work-history--entry-keywords">
                      <li class="keyword work-history--entry-keyword keyword-C#">C#</li>
                      <li class="keyword work-history--entry-keyword keyword-ASP.NET">ASP.NET</li>
                      <li class="keyword work-history--entry-keyword keyword-jQuery">jQuery</li>
                      <li class="keyword work-history--entry-keyword keyword-Windows Services">Windows Services</li>
                      <li class="keyword work-history--entry-keyword keyword-SQL Server">SQL Server</li>
                      <li class="keyword work-history--entry-keyword keyword-TSQL">TSQL</li>
                      <li class="keyword work-history--entry-keyword keyword-Subversion">Subversion</li>
                      <li class="keyword work-history--entry-keyword keyword-CruiseControl.NET">CruiseControl.NET</li>
                      <li class="keyword work-history--entry-keyword keyword-NAnt">NAnt</li>
                    </ul>
                  </div>
                  <div class="work-history--body">
                    <p class="work-history--entry-summary">Member of a team at LexisNexis responsible for the development of UI functionality consuming SOAP web services rendering results of public records searches for customers.</p>
                    <ul class="work-history--entry-highlights">
                      <li class="work-history--entry-highlight">Developed an ASP.NET (C#/webforms) web UI to allow users to perform public records searches. Used jQuery to perform client side form validation and DOM manipulation.</li>
                      <li class="work-history--entry-highlight">Created HTML and CSS for printable reports based on search results.</li>
                      <li class="work-history--entry-highlight">Established a configuration management environment for the project using Subversion for version control and CruiseControl.NET for continuous integration, automated build and deployment.</li>
                      <li class="work-history--entry-highlight">Developed a windows service to monitor database information and generate e-mail notifications to sales employees of service usage.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="work-history--entry">
                <div class="older-work-history--entry--toggle" data-toggle=".older-work-history--entry">
                  Lighthouse Technologies, Inc // Software Engineer in Development and Test // From June 2005 to June 2006 <i class="fa fa-angle-down"></i>
                </div>
                <div class="older-work-history--entry hide">
                  <div class="work-history--summary">
                    <header>
                      <h3 class="work-history--entry-company">
                          Lighthouse Technologies, Inc
                      </h3>
                      <h4 class="work-history--entry-position">Software Engineer in Development and Test</h4>
                    </header>
                    <h5 class="work-history--entry-dates">
                      <span class="work-history--entry-date-from-label">From</span>
                      <span class="work-history--entry-date-from">June 2005</span>
                      <span class="work-history--entry-date-to-label">to</span>
                      <span class="work-history--entry-date-to">June 2006</span>
                    </h5>
                    <ul class="keyword-list work-history--entry-keywords">
                      <li class="keyword work-history--entry-keyword keyword-C#">C#</li>
                      <li class="keyword work-history--entry-keyword keyword-WinForms">WinForms</li>
                      <li class="keyword work-history--entry-keyword keyword-SQL Server">SQL Server</li>
                      <li class="keyword work-history--entry-keyword keyword-TSQL">TSQL</li>
                      <li class="keyword work-history--entry-keyword keyword-CruiseControl.NET">CruiseControl.NET</li>
                    </ul>
                  </div>
                  <div class="work-history--body">
                    <p class="work-history--entry-summary">Member of a team at Lighthouse Technologies that developed a custom application for our client, Collins-Stewart. The client needed a custom financial analysis application designed and built from the ground up. It required the flexibility to be able to deal with the ever-changing financial forecasting and reporting data provided them by their financial data vendors, and the power to allow them to do complex dynamic computation and reporting on the financial data of publicly traded companies from around the globe.</p>
                    <ul class="work-history--entry-highlights">
                      <li class="work-history--entry-highlight">Developed all layers of several application modules, including UI, (logical) middle-tier components, data access layer components and database artifacts (tables, views, stored procedures).</li>
                      <li class="work-history--entry-highlight">Created and executed manual test scenarios for several application modules.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="work-history--entry">
                <div class="older-work-history--entry--toggle" data-toggle=".older-work-history--entry">
                  Northrop Grumman for Air Force Research Labs // Database Administrator and Developer // From January 2002 to June 2005 <i class="fa fa-angle-down"></i>
                </div>
                <div class="older-work-history--entry hide">
                  <div class="work-history--summary">
                    <header>
                      <h3 class="work-history--entry-company">
                          Northrop Grumman for Air Force Research Labs
                      </h3>
                      <h4 class="work-history--entry-position">Database Administrator and Developer</h4>
                    </header>
                    <h5 class="work-history--entry-dates">
                      <span class="work-history--entry-date-from-label">From</span>
                      <span class="work-history--entry-date-from">January 2002</span>
                      <span class="work-history--entry-date-to-label">to</span>
                      <span class="work-history--entry-date-to">June 2005</span>
                    </h5>
                    <ul class="keyword-list work-history--entry-keywords">
                      <li class="keyword work-history--entry-keyword keyword-Oracle">Oracle</li>
                      <li class="keyword work-history--entry-keyword keyword-PL/SQL">PL/SQL</li>
                      <li class="keyword work-history--entry-keyword keyword-ColdFusion">ColdFusion</li>
                    </ul>
                  </div>
                  <div class="work-history--body">
                    <p class="work-history--entry-summary">Member of a team of contractors supporting the Air Force Research Labs (AFRL), I performed the following duties in support of a number of applications that allowed AFRL personnel to maintain and distribute data in support of research contract management.</p>
                    <ul class="work-history--entry-highlights">
                      <li class="work-history--entry-highlight">Performed database administration and support for Oracle databases.</li>
                      <li class="work-history--entry-highlight">Provided maintenance, new development and technical support for desktop/thick-client applications written on top of an Oracle database.</li>
                      <li class="work-history--entry-highlight">Extended the availability and reach of the application by rewriting the entire application from the ground up as a web application using Macromedia ColdFusion and JavaScript.</li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="work-history--entry">
                <div class="older-work-history--entry--toggle" data-toggle=".older-work-history--entry">
                  Air Force Institute of Technology // Database Administrator and Developer // From August 1997 to December 2001 <i class="fa fa-angle-down"></i>
                </div>
                <div class="older-work-history--entry hide">
                  <div class="work-history--summary">
                    <header>
                      <h3 class="work-history--entry-company">
                          <a href="http://afit.edu">Air Force Institute of Technology</a>
                      </h3>
                      <h4 class="work-history--entry-position">Database Administrator and Developer</h4>
                    </header>
                    <h5 class="work-history--entry-dates">
                      <span class="work-history--entry-date-from-label">From</span>
                      <span class="work-history--entry-date-from">August 1997</span>
                      <span class="work-history--entry-date-to-label">to</span>
                      <span class="work-history--entry-date-to">December 2001</span>
                    </h5>
                    <ul class="keyword-list work-history--entry-keywords">
                      <li class="keyword work-history--entry-keyword keyword-Oracle">Oracle</li>
                      <li class="keyword work-history--entry-keyword keyword-PL/SQL">PL/SQL</li>
                    </ul>
                  </div>
                  <div class="work-history--body">
                    <p class="work-history--entry-summary">As a military staff member of a team at the Air Force Institute of Technology, the U.S. Air Force&#x27;s graduate school for officers, I performed the following duties in support of a number of applications that allowed organization staff and faculty to maintain student education and personnel management data.</p>
                    <ul class="work-history--entry-highlights">
                      <li class="work-history--entry-highlight">Performed database administration and support for Oracle databases.</li>
                      <li class="work-history--entry-highlight">Established and documented organizational configuration management processes and procedures.</li>
                      <li class="work-history--entry-highlight">Provided maintenance, new development and technical support for desktop/thick-client applications written on top of Oracle databases.</li>
                    </ul>
                  </div>
                </div>
              </li>
          </ul>
        </div>
      </section>
      <section class="publications">
      </section>
      <section class="interests">
      </section>
    </main>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
